:root {
	--main-bg: #fff8f3;
	--form-bg: #f6ece3;
	--text-primary-clr: #1f1b15;
	--text-secondary-clr: #454742;
	--text-faded-clr: #767872;
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--main-heading-size: 36px;
	--font-size-default: 16px;
	--border-radius-l: 100px;
	--transition: all 0.2s ease-in-out;
	--border-main: 1px solid #5e5e5c66;
	--border-medium: 1px solid #eae1d799;
	--border-soft: 1px solid #f6ece3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	outline: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	font: inherit;
	transition: var(--transition);
	border-bottom: 1px solid transparent;

	&:hover {
		color: #000000;
		border-bottom: var(--border-main);
	}
}

body {
	font-family: "Quicksand", Arial, Helvetica, sans-serif;
	background-color: var(--main-bg);
	color: var(--text-secondary-clr);
}

#root { 
	height: 100dvh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	display: grid;
	place-content: center;
	gap: var(--spacing-s);
	text-align: center;

	&.weather-data {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: var(--spacing-l);
		padding-inline: 10%;
		margin-block: var(--spacing-l);
	}

	& h1 {
		color: var(--text-primary-clr);
		font-size: var(--main-heading-size);
	}

	& p {
		font-size: var(--font-size-default);
	}
}

.search-form {
	display: flex;
	background-color: var(--form-bg);
	padding: var(--spacing-s) var(--spacing-m);
	gap: var(--spacing-m);
	border-radius: var(--border-radius-l);
	border: var(--border-medium);
	transition: var(--transition);

	&.initial {
		box-shadow: 0 1px 2px #00000010;
	}

	&.weather-data {
		font-size: 14px;
		padding: calc((var(--spacing-s) /2)) var(--spacing-s);
		width: min(400px, 50%);

		& span {
			font-size: 20px;
		}
	}

	& input {
		flex: 1;
	}

	& label {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& span {
		color: var(--text-faded-clr);
		transition: var(--transition);
	}

	&:focus-within {
		background-color: #ffffff;
		border: var(--border-main);
	}

	& .search-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: calc(var(--spacing-s) / 2);
		transition: var(--transition);
		border-radius: var(--border-radius-l);
		
		&:hover {
			background-color: var(--main-bg);

			& span {
				color: var(--text-primary-clr);
			}
		}
		
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	border-top: var(--border-soft);
	padding: var(--spacing-m) var(--spacing-l);

	& .links {
		display: flex;
		gap: var(--spacing-m);
	}
}

.header {
	display: flex;
	align-items: center;
	padding: var(--spacing-s) var(--spacing-m);
	gap: var(--spacing-l);
	border-bottom: var(--border-medium);

	& .brand {
		display: flex;
		align-items: center;
		gap: var(--spacing-s);
		color: var(--text-primary-clr);
	}

	& .header-icon {
		border-radius: var(--border-radius-l);
		background-color: var(--text-primary-clr);
		padding: calc(var(--spacing-s) / 1.5);
		color: var(--main-bg);
	}

	& h1 {
		font-weight: bold;
		font-size: calc(var(--font-size-default) * 1.25);
	}
}

.temperature-card {
	background-color: var(--form-bg);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--spacing-l);
	border-radius: 40px;

	& .temperature {
		display: flex;
		align-items: center;
		gap: var(--spacing-s);
		font-size: 32px;

		& span {
			font-size: 48px;
		}

		& h2::after {
			content: "°";
		}
	}

	& .location .row {
		display: flex;
		gap: var(--spacing-s);
		justify-content: center;

		&:last-child {
			margin-top: var(--spacing-s);
		}
	}
}