:root {
	--main-bg: #fff8f3;
	--form-bg: #f6ece3;
	--text-primary-clr: #1f1b15;
	--text-secondary-clr: #454742;
	--text-faded-clr: #767872;
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--main-heading-size: 36px;
	--font-size-default: 16px;
	--border-radius-l: 100px;
	--transition: all 0.2s ease-in-out;
	--border-main: 1px solid #5e5e5c66;
	--border-medium: 1px solid #eae1d799;
	--border-soft: 1px solid #f6ece3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	border: none;
	background: none;
	color: inherit;
	font: inherit;
	outline: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
	font: inherit;
	transition: var(--transition);
	border-bottom: 1px solid transparent;

	&:hover {
		color: #000000;
		border-bottom: var(--border-main);
	}
}

body {
	font-family: "Quicksand", Arial, Helvetica, sans-serif;
	background-color: var(--main-bg);
	color: var(--text-secondary-clr);
}

#root { 
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main {
	flex: 1;
	display: grid;
	place-content: center;
	gap: var(--spacing-s);
	text-align: center;

	& > *:last-child {
		margin-top: var(--spacing-m);
	}

	& h1 {
		color: var(--text-primary-clr);
		font-size: var(--main-heading-size);
	}

	& p {
		font-size: var(--font-size-default);
	}
}

.search-form {
	display: flex;
	background-color: var(--form-bg);
	padding: var(--spacing-s) var(--spacing-m);
	gap: var(--spacing-m);
	border-radius: var(--border-radius-l);
	border: var(--border-medium);
	box-shadow: 0 1px 2px #00000010;
	transition: var(--transition);

	& input {
		flex: 1;
	}

	& label {
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--text-faded-clr);
	}

	&:focus-within {
		background-color: #ffffff;
		border: var(--border-main);
	}

	& .search-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: calc(var(--spacing-s) / 2);
		transition: var(--transition);
		border-radius: var(--border-radius-l);
		
		&:hover {
			background-color: var(--main-bg);
		}
		
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	border-top: var(--border-soft);
	padding: var(--spacing-m) var(--spacing-l);

	& .links {
		display: flex;
		gap: var(--spacing-m);
	}
}